<div class="navbar navbar-default navbar-fixed-top">
	<%= link_to root_path, method: :get do %>
	<%= image_tag "logo.png", alt: "Logo", class: "img-responsive header-logo" %>
	<% end %>
	<!-- Trigger the modal with a button -->
	<% if !current_page?(root_path) && current_user.nil?  %>
	<button type="button" class="btn btn-info btn-lg btn-login b-login" data-toggle="modal" data-target="#myModal">Login</button>
	<% end %>
	
	<ul class="nav-list">

		<li><%= link_to 'HOME', root_path, method: :get %></li>
		<li><a href="javascript:void(0)">SUGESTÃO</a></li>
		<% unless current_user.nil? %>
			<div class="desktop-nav">
				<li><%= link_to 'Cadastrar', pages_new_path, method: :get %></li>
				<li><%= link_to 'Editar Almoço', lunches_path %></li>
				<li><%= link_to 'Editar Jantar', dinners_path %></li>
				<li><%= link_to '<i class="fa fa-sign-out"></i> Sair'.html_safe , destroy_user_session_path, method: :delete %></li>
			</div>
		<% end %>
		<li class="responsive-nav">
		<% unless current_user.nil? %>
			<div class="dropdown">
				<button class="btn btn-primary dropdown-toggle nav-menu" type="button" data-toggle="dropdown">MENU
					<i class="fa fa-caret-down"></i>
				</button>
				<ul class="dropdown-menu" id="nav-drop-menu">
					

					<li><%= link_to 'Cadastrar', pages_new_path, method: :get %></li>
					<li><%= link_to 'Editar Almoço', lunches_path %></li>
					<li><%= link_to 'Editar Jantar', dinners_path %></li>
					<li><%= link_to '<i class="fa fa-sign-out"></i> Sair'.html_safe , destroy_user_session_path, method: :delete %></li>
					
				</ul>
			</div>
		<% end %>			
		</li>


			</ul>
		</div>
	</div>